body {
  background: rgb(0, 119, 255)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  border-radius: 10px;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .5);
  animation: show .5s ease-in-out;
}

.cart-close {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #fff;
}

.cart-del {
  cursor: pointer;
}

@keyframes show {
  from{top: 70%; opacity: 0}
  to{top: 50%; opacity: 1}
}

.cart-l {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.btnq {
  position: relative;
  bottom: 8px;
  margin-left: 8px;
}