body {
  background: rgb(0, 119, 255)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.container {
  width: 95%;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  border-radius: 10px;
}

.btn-buy {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: rgb(247, 247, 2);
  padding: 5px 20px;
  color: #000;
}

.btn-buy:hover {
  background-color: rgb(218, 218, 25);
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sidenav {
  width: 300px;
  transform: translateX(0%);
  left: 1000px;
}

.cart-quantity {
  font-size: 14px;
  font-weight: 600;
  background-color: red;
  border-radius: 50%;
  padding: 3px 7px;
}
.unselectable, i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pad {
  padding: 3px;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .5);
  animation: show .5s ease-in-out;
  z-index: 10;
  border-radius: 20px ;
}


.red-text {
  cursor: pointer;
}

.cart-close {
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: rgb(247, 4, 4);
  font-weight: 700;
}

.cart-del {
  cursor: pointer;
}

@keyframes show {
  from{top: 70%; opacity: 0}
  to{top: 50%; opacity: 1}
}

.cart-l {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 5;
}

.btn {
  color: white;
  border-radius: 10px;
}

.btn-2 {
  cursor: pointer;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col2 {
  display: flex;
  align-items: center;
}

.addRemove {
  display: flex;
  align-items: center;
  border: 1px solid rgb(15, 123, 247);
  margin: 0 10px;
  padding: 5px 5px;
  border-radius: 25px;
}

.addRemove i {
  margin: 0 5px;
}